<div class="appointments-container">
  <h2>Your Orders</h2>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Materials</th>
        <th>Retailer</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of paginatedAppointments">
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ getServiceNames(appointment) }}</td>
        <td>{{ getStylistNames(appointment) }}</td>
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phone }}</td>
        <td>
          <select [(ngModel)]="appointment.message" (change)="updateStatus(appointment?.id!, appointment.message)">
            <option [selected]="true" [disabled]="true">{{ appointment.paymentStatus || 'Choose Status' }}</option>
            <option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </option>
          </select>
        </td>
        <td>₹{{ appointment.totalCost }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">Next</button>
  </div>
</div>
