<ngb-carousel [interval]="3000">
  <ng-template ngbSlide>
    <img src="traceability1.png" alt="Image 1" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="traceability2.png" alt="Image 2" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="traceability3.jpg" alt="Image 3" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>

</ngb-carousel>
 
<section class="container-one">
  <div class="container px-5">
    <div class="row gx-5 align-items-center text-center">
      <div class="col-lg-12">
        <div>
          <h1 class="title">Our Methodology</h1>
          <hr class="horizontal-line" />
          <p class="content">
            The EcoVadis sustainability assessment methodology is at the heart of our Ratings and Scorecards and is an evaluation of how well a company has integrated the principles of Sustainability/CSR into their business and management system. It is based on seven founding principles: ✨
          </p>
          <div class="col-lg-12">
            <div class="py-5">
              <div class="services-block">
                <div class="service-item">
                  <a routerLink="/bodycare">
                    <img
                      src="trace1.png"
                      style="width: 100%; height: 200px"
                      alt="Pedicure &amp; Manicure"
                    />
                   
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="trace2.png"
                      style="width: 100%; height: 180px"
                      alt="Beauty Sutra Facial"
                    />
                   
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="evaluation.png"
                      style="width: 100%; height: 200px"
                      alt="Ethereal Bloom Bridal Makeup Collection"
                    />
                     
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/haircare">
                    <img
                      src="trace2.png"
                      style="width: 200px; height: 200px"
                      alt="Elemental Symphony- Cut &amp; Colour Collection"
                    />
                   
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="trace1.png"
                      style="width: 200px; height: 200px"
                      alt="Everyday Glam makeup"
                    />
                   
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
<div class="trending-container">
  <div class="trending-text">
    <h2>Sustainable Supply Chain Finance</h2>
    <p>
      Corporate buyers and financial institutions offering early invoice payment programs are now taking into account suppliers’ sustainability performance to provide more attractive financing terms in order to incentivise suppliers to improve on ESG.
    </p>
   
    <div class="read-more">
      <a>Read More</a>
    </div>
  </div>
  <div class="trending-image">
    <img src="women_work.jpg" alt="Ethereal Bloom Bridal Makeup" />
  </div>
</div>
 
<div class="franchise-container">
  <div class="franchise-image">
    <img src="franch.jpg" alt="Franchise Opportunity" />
  </div>
  <div class="franchise-text">
    <h2>ESG Ratings for Private Equity</h2>
    <p>
      Banks and other financial institutions are driving ESG performance while creating innovative ESG-linked products by integrating EcoVadis Ratings into their eligibility criteria and linking ESG performance to financing products.
    </p>
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: black; color: azure;">
    © 2025 Copyright:
    <a style="color: white;" href="https://www.wix.com/blog/salon-website-examples">ecotrace.com</a>
  </div>
</footer>